# Fuzzing Config

TARGET /api/ajax/newCommodityList/queryNewList.json?

LOAD https://marketplace.alibabacloud.com/products/?categoryId=56698004&label=Software+Infrastructure%2FDataBases&region=
WAIT_LOCATE //*[@id="market-list"]/section/div/div/div[2]/div/div[2]/div[last()]/div[3]/div/div/div[2]/div[2]/span
FUZZ //*[@id="market-list"]/section/div/div/div[2]
