# Fuzzing Config

TARGET /fulfillment-messages?searchNearby=true

LOAD https://www.apple.com/au_edu_800611/shop/buy-mac/macbook-air/with-m1-chip
WAIT_LOCATE //button[@class="rf-pickup-quote-overlay-trigger as-buttonlink"]
CLICK //button[@class="rf-pickup-quote-overlay-trigger as-buttonlink"]
WAIT_LOCATE //form[@class="rf-storelocator-form"]//input
CLICK //form[@class="rf-storelocator-form"]//input
INPUT //form[@class="rf-storelocator-form"]//input 3000
CLICK //form[@class="rf-storelocator-form"]/div/div[2]/button
WAIT_LOCATE //div[@class="rf-storelocator-contentsection rf-storelocator-showfootnote"]//fieldset/div/li[10]/label/span/span
FUZZ //div[@class="rf-storelocator-contentsection rf-storelocator-showfootnote"]
