# Fuzzing Config

TARGET /shipmentsgatewayapi/watchlist/shipments?trackingIds=

LOAD https://auspost.com.au/mypost/track/#/search
WAIT_LOCATE //*[@id="root"]/div/div[2]/div[1]/div/form/div/input
SLEEP 2
INPUT //*[@id="root"]/div/div[2]/div[1]/div/form/div/input 34U93643678801000960301
CLICK //*[@id="root"]/div/div[2]/div[1]/div/form/div/button
WAIT_LOCATE //*[@id="OptionJourney"]
CLICK //*[@id="OptionJourney"]
WAIT_LOCATE //*[@id="JourneyTabPanel"]/ul/div[1]/p
SLEEP 1
FUZZ //*[@id="root"]/div/div[3]/div[1]/div[1]
