# Fuzzing Config

TARGET /v1/stores/products/stock?latitude

LOAD https://www.bunnings.com.au/makita-18v-brushless-hammer-driver-drill-kit_p0118171
WAIT_LOCATE //section[@class="findStoreContainer"]//span[contains(text(),"Choose another store")]
CLICK //section[@class="findStoreContainer"]//span[contains(text(),"Choose another store")]
WAIT_LOCATE //div[contains(@class,"StoreSearchstyles__HighlightWrapper-sc")]/div/div[2]
FUZZ //div[contains(@class,"StoreSearchstyles__HighlightWrapper-sc")]
