# Fuzzing Config

TARGET /cnc-ken/webapi/StoreStock/search/product

LOAD https://www.chemistwarehouse.com.au/buy/67491/swisse-ultiboost-calcium-vitamin-d-150-tablets
WAIT_LOCATE //span[@class="available"]
CLICK //span[@class="available"]
WAIT_LOCATE //input[@id="txtSearch"]
INPUT //input[@id="txtSearch"] 3000
CLICK //span[@class="btnFindStore"]
WAIT_LOCATE //div[@class="searchResult"]/div/div
FUZZ //div[@class="searchResult"]
