# Fuzzing Config

TARGET /_napi/shared_api/deviation/extended_fetch

LOAD https://www.deviantart.com/
WAIT_LOCATE //*[@id="root"]/div[1]/div/main/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/section/a/div/img
CLICK //*[@id="root"]/div[1]/div/main/div[2]/div/div/div[2]/div/div/div[1]/div/div[3]/section/a/div/img
WAIT_LOCATE //*[@id="root"]/main/div/div[3]/div/div[1]/div/div[2]/div[1]/h1
FUZZ //*[@id="root"]/main/div
