# Fuzzing Config

TARGET /suggestions_ajax.php?

LOAD https://www.etsy.com/au/
WAIT_LOCATE //*[@id="global-enhancements-search-query"]
INPUT //*[@id="global-enhancements-search-query"] drink
WAIT_LOCATE //*[@id="global-enhancements-search-suggestions"]/ul
FUZZ //*[@id="global-enhancements-search-suggestions"]/ul
