# Fuzzing Config

TARGET /recommendations/personalized_content/section/explore

LOAD https://www.fiverr.com/seowing/fix-wordpress-hacked-website-clean-malware-virus?context_referrer=subcategory_listing&source=hplo_subcat_first_step&ref_ctx_id=09005584840052e672ce327609acff90&pckg_id=1&pos=2&context_type=rating&funnel=09005584840052e672ce327609acff90&imp_id=7e421b1d-cb0a-4fdd-962e-1caee7c1cd55
WAIT_LOCATE //*[@id="__ZONE__main"]/div/div/aside/div/section/section[1]/div/div/div/div/div/div/div[1]/div/div/div/h3/a
FUZZ //*[@id="__ZONE__main"]/div/div/aside/div/section/section[1]/div/div/div/div/div
