# Fuzzing Config

TARGET /availabilities/ru/au?itemNos=

LOAD https://www.ikea.com/au/en/p/adde-chair-white-90219179/
WAIT_LOCATE //*[@id="pip-buy-module-content"]/div[5]/div[2]/button[2]
CLICK //*[@id="pip-buy-module-content"]/div[5]/div[2]/button[2]
WAIT_LOCATE //*[@id="range-modal-mount-node"]/div/div[3]/div
FUZZ //*[@id="range-modal-mount-node"]/div/div[3]/div
