# Fuzzing Config

TARGET /FulfilmentPlan/API/FulfilmentOptions

LOAD https://www.jbhifi.com.au/products/xbox-elite-wireless-controller-series-2#pdp
WAIT_LOCATE //li[text()="In-store"]
CLICK //li[text()="In-store"]
WAIT_LOCATE //span[text()="Set your closest store"]
CLICK //span[text()="Set your closest store"]/..
WAIT_LOCATE //input[@id="jbtextfield-location-search"]
INPUT //input[@id="jbtextfield-location-search"] 3000
WAIT_LOCATE //*[@id="location-search"]/section/div/ul/li/button
CLICK //*[@id="location-search"]/section/div/ul/li/button
WAIT_LOCATE //span[text()="View all hours"]
WAIT_LOCATE //span[text()="View all hours"]/../../../../../../button[1]
CLICK //span[text()="View all hours"]/../../../../../../button[1]
WAIT_LOCATE //*[@id="Localisation-1-tab"]//button[text()="Check other stores"]
CLICK //*[@id="Localisation-1-tab"]//button[text()="Check other stores"]
WAIT_LOCATE //span[text()="More stores"]
CLICK //span[text()="More stores"]
FUZZ /html/body/div[@role="presentation"]/div[3]
