# Fuzzing Config

TARGET /v1/farecache/flights/batch/availability-with-fareclasses?requestType=StarterAndMember&from=2024-02-01

LOAD https://www.jetstar.com/au/en/home?flight-type=2&adults=1&origin=CNS&destination=BNE
WAIT_LOCATE //*[@id="flockSearch"]/form/div[1]/div/div[1]
WAIT_LOCATE //*[@id="popoverButton"]
CLICK //*[@id="popoverButton"]
WAIT_LOCATE //*[@id="28-02-2024"]//span[contains(text(),"$")]
WAIT_LOCATE //*[@id="30-01-2024"]//span[contains(text(),"$")]
FUZZ //*[@id="popoverContent"]/div/div/div/div[2]/div[2]/div
