# Fuzzing Config

TARGET /api/query/availability/batch/aggregatedWithFareClasses

LOAD https://www.jetstar.com/au/en/home
WAIT_LOCATE //section[@id="tabPanel-0"]/div/div[2]/div[1]//button
#CLICK //section[@id="tabPanel-0"]/div/div[1]/div/div[1]/button
#CLICK //section[@id="tabPanel-0"]/div/div[1]/div/div[1]/div[2]//button[1]
CLICK //section[@id="tabPanel-0"]/div/div[2]/div[1]//button
WAIT_LOCATE //section[@id="tabPanel-0"]/div/div[2]//span[contains(text(),"Cairns")]
CLICK //section[@id="tabPanel-0"]/div/div[2]//span[contains(text(),"Cairns")]/../..
CLICK //section[@id="tabPanel-0"]/div/div[2]/div[2]//button
WAIT_LOCATE //section[@id="tabPanel-0"]/div/div[2]//span[contains(text(),"Brisbane")]
CLICK //section[@id="tabPanel-0"]/div/div[2]//span[contains(text(),"Brisbane")]/../..
CLICK //section[@id="tabPanel-0"]/div/div[2]/div[3]//button
WAIT_LOCATE //section[@id="tabPanel-0"]//div[@class="tabs__panel-inner"]/div[@class="gutter"]/div[3]/div[5]/button[6]/div/span/span/span[text()="From"]
FUZZ //section[@id="tabPanel-0"]//div[@class="tabs__panel-inner"]/div[@class="gutter"]
