# Fuzzing Config

TARGET ???????????????????

LOAD https://www.kmart.com.au/product/lego-speed-champions-lamborghini-countach-76908-43124756
WAIT_LOCATE //button[contains(@class,'find-in-store-button')]
CLICK //button[contains(@class,'find-in-store-button')]
WAIT_LOCATE //div[contains(@class,'dialog-container')]//form//input
INPUT //div[contains(@class,'dialog-container')]//form//input 3000
WAIT_LOCATE //div[@class='MuiAutocomplete-popper']/li
CLICK //div[@class='MuiAutocomplete-popper']/li
WAIT_LOCATE //div[@class='store-menu-container']/div[@class='stock-indicator-container']
FUZZ //div[@class='store-menu-container']
