# Fuzzing Config

TARGET /v1/items/100276030/inventory

LOAD https://www.myer.com.au/p/lego-technic-john-deere-948l-ii-skidder
WAIT_LOCATE //input[@id="find-a-store-text-input"]
INPUT //input[@id="find-a-store-text-input"] 3000
CLICK //input[@id="find-a-store-text-input"]/../../input
WAIT_LOCATE //input[@id="find-a-store-text-input"]/../../../div/ol
CLICK //input[@id="find-a-store-text-input"]/../../../div/div/button
FUZZ //input[@id="find-a-store-text-input"]/../../../div
