# Fuzzing Config

TARGET /resource/BaseSearchResource/get

LOAD https://www.pinterest.com.au/search/pins/?rs=ac&len=2&q=food&eq=food&etslf=1182&term_meta[]=food%7Cautocomplete%7C0
WAIT_LOCATE //*[@id="mweb-unauth-container"]/div/div[2]/div[2]/div/div[1]/div/div[1]/div[4]/div/div/div/div/div[1]/a/div/div/div/div/div[1]/img
FUZZ //*[@id="mweb-unauth-container"]
