# Fuzzing Config

TARGET /api/searchDefault

LOAD https://www.primevideo.com/search/ref=atv_cat_genre_comedy_quest?ie=UTF8&pageId=default&queryToken=eyJ0eXBlIjoicXVlcnkiLCJuYXYiOmZhbHNlLCJwdCI6ImJyb3dzZSIsInBpIjoiZGVmYXVsdCIsInNlYyI6ImNlbnRlciIsInN0eXBlIjoic2VhcmNoIiwicXJ5IjoiYnE9JTI4YW5kJTIwc29ydDolMjdmZWF0dXJlZC1yYW5rJTI3JTIwJTI4YW5kJTIwYXZfcHJpbWFyeV9nZW5yZTolMjdhdl9nZW5yZV9jb21lZHklMjclMjAlMjhub3QlMjAlMjhvciUyMCUyOG9yJTIwYXZfc2Vjb25kYXJ5X2dlbnJlOiUyN2F2X3N1YmdlbnJlX2ludGVybmF0aW9uYWxfaW5kaWElMjclMjBhdl9wcmltYXJ5X2dlbnJlOiUyN2F2X2dlbnJlX2tpZHMlMjclMjklMjBhdl9wcmltYXJ5X2dlbnJlOiUyN2F2X2dlbnJlX2FuaW1lJTI3JTI5JTI5JTI5JTI5IiwidHh0IjoiQ29tZWR5Iiwib2Zmc2V0IjowLCJucHNpIjozMH0%3D&phrase=Comedy&queryPageType=browse
WAIT_LOCATE //*[@id="av-search"]/div/div[1]/div[12]/div/div[2]/div[1]/div[2]/div[1]/div[1]/span
FUZZ //*[@id="av-search"]
