# Fuzzing Config

TARGET /au/customer-success-stories/_jcr_content/main-par/columncontainer/column1_par/customlistcomponent_.results.json

LOAD https://www.salesforce.com/au/customer-success-stories/#!page=1&sort=newestSort
WAIT_LOCATE //*[@id="the-mix-finds-the-perfect-recipe-for-consultant-and-customer-success"]/span
FUZZ //*[@id="main"]/div[4]/div/div[2]/div[1]/div/div/div/div/div/div[2]/section
