# Fuzzing Config

TARGET /search/api?qs=fuzzing

LOAD https://www.sciencedirect.com
WAIT_LOCATE //*[@id="qs-searchbox-input"]
INPUT //*[@id="qs-searchbox-input"] fuzzing
CLICK //*[@id="aa-srp-search-submit-button"]/button
WAIT_LOCATE //*[@id="srp-results-list"]/ol/li[1]/div/div/ol/li[1]/span
FUZZ //*[@id="srp-results-list"]
