# Fuzzing Config

TARGET /_shutterstock/search/space.json?term=space

LOAD https://www.shutterstock.com/
WAIT_LOCATE //*[@id="__next"]/div[3]/div/div[2]/div[1]/div[1]/div[2]/div[2]/div/div[2]/div[2]/div/div/input
INPUT //*[@id="__next"]/div[3]/div/div[2]/div[1]/div[1]/div[2]/div[2]/div/div[2]/div[2]/div/div/input space
CLICK //*[@id="__next"]/div[3]/div/div[2]/div[1]/div[1]/div[2]/div[2]/div/div[4]/button
WAIT_LOCATE //*[@id="__next"]/div[3]/div/div[2]/div[1]/div/div[5]/div/div[2]/div[2]/div/img
FUZZ //*[@id="__next"]/div[3]/div/div[2]/div[1]/div/div[5]
