# Fuzzing Config

TARGET /pathfinder/v1/query?operationName=queryAlbumTracks

LOAD https://open.spotify.com/album/5Sb6flBcIYmm5gTGwOVMbn
WAIT_LOCATE //*[@id="main"]/div/div[2]/div[3]/div[1]/div[2]/div[2]/div/div/div[2]/main/section/div[4]/div[1]/div[2]/div[2]/div[3]/div/div[2]/div/div
FUZZ //*[@id="main"]/div/div[2]/div[3]/div[1]/div[2]/div[2]/div/div/div[2]/main/section/div[4]/div[1]
