# Fuzzing Config

TARGET /symbol_search/?text=&hl=1&exchange=&lang=en&type=&domain=production

LOAD https://www.tradingview.com/
WAIT_LOCATE //div[@id="tv-main-page-promo"]//button
CLICK //div[@id="tv-main-page-promo"]//button
WAIT_LOCATE //div[@id="overlap-manager-root"]//div[contains(@class,'listContainer-')]/div[10]/div[2]/div
FUZZ //div[@id="overlap-manager-root"]//div[contains(@class,'listContainer-')]
