# Fuzzing Config

TARGET /api/v2/explore/trending/blogs

LOAD https://www.tumblr.com/explore/trending?source=homepage_explore
WAIT_LOCATE //*[@id="base-container"]/div[2]/div[3]/div[2]/aside/div[1]/ul/li[3]/div/div/div/a/div/div[2]/div[2]
FUZZ //*[@id="base-container"]/div[2]/div[3]/div[2]/aside/div[1]/ul
