# Fuzzing Config

TARGET /app/locals/get-stock-vehicles?version=

LOAD https://www.volkswagen.com.au/app/locals/search-our-stock?model=Golf&showInterstate=true&distance=510&sortby=Distance&filterPostcode=3000&filterState=VIC&filterLocality=MELBOURNE&offset=6
WAIT_LOCATE //input[@id="txt-post-code-1"]
INPUT //input[@id="txt-post-code-1"] 3000
WAIT_LOCATE //div[@id="postcodeModal"]/div/div[2]/div/div/a
CLICK //div[@id="postcodeModal"]/div/div[2]/div/div/a
WAIT_LOCATE //div[@id="postcodeModal"]/div[2]/button
CLICK //div[@id="postcodeModal"]/div[2]/button
WAIT_LOCATE //div[@id="vehicleListingContainer"]/ul/li[6]/div/ul/li
FUZZ //div[@id="vehicleListingContainer"]
