# Fuzzing Config

TARGET /api/v1/p/redux-dal

LOAD https://weather.com/weather/today/l/600487fb55a7f07cae60d11c8b1ca09bc1d5c1a5e658adcdb2ab7ab0af29c6fa
SLEEP 5
CLICK //input[@id="LocationSearch_input"]
INPUT //input[@id="LocationSearch_input"] 3000
WAIT_LOCATE //div[@id="LocationSearch_listbox"]/button[9]
FUZZ //div[@id="LocationSearch_listbox"]/..
