# Fuzzing Config

TARGET /apis/ui/product/32731/Stores?IncludeInStockStoreOnly=false&Max=5&Postcode=3000

LOAD https://www.woolworths.com.au/shop/productdetails/32731/coca-cola-classic-soft-drink-bottle
WAIT_LOCATE //button[contains(@class,'stockChecker')]
CLICK //button[contains(@class,'stockChecker')]
WAIT_LOCATE //input[@id="pickupAddressSelector"]
INPUT //input[@id="pickupAddressSelector"] 3000
SLEEP 2
WAIT_LOCATE //div[@class="ng-star-inserted"]
FUZZ //wow-product-details-stock-store-results
