# Fuzzing Config

TARGET /rest/v1.2/themes?http_envelope=1&search=simple&page=1

LOAD https://wordpress.com/themes
WAIT_LOCATE //input[contains(@id,'search-component-')]
CLICK //input[contains(@id,'search-component-')]
INPUT //input[contains(@id,'search-component-')] simple
WAIT_LOCATE //div[@id="primary"]/main/div/div/div[2]/div/div/div[39]/div/div/h2[text()='Revelar']
FUZZ //div[@id="primary"]/main/div/div/div[2]
