# Fuzzing Config

TARGET /category/data?c=85&type=show&p=2

LOAD https://youku.com/category/show/c_85.html
WAIT_LOCATE //*[@id="app"]/div/div[3]/div[3]/div/div/div[25]/div/div/div[2]/div[1]/a
SCROLL END
WAIT_LOCATE //*[@id="app"]/div/div[3]/div[3]/div/div/div[52]/div/div/div[2]/div[1]/a
FUZZ //*[@id="app"]/div/div[3]/div[3]
