# Fuzzing Config

TARGET /youtubei/v1/browse

LOAD https://www.youtube.com/c/ShaananCohney/channels
WAIT_LOCATE //div[@id="tabsContent"]/tp-yt-paper-tab[1]
CLICK //div[@id="tabsContent"]/tp-yt-paper-tab[1]
WAIT_LOCATE //div[@id="primary"]/ytd-section-list-renderer/div[@id="contents"]/ytd-item-section-renderer/div[@id="contents"]/ytd-shelf-renderer/div[@id="dismissible"]/div[@id="contents"]/yt-horizontal-list-renderer/div[@id="scroll-container"]/div[@id="items"]/ytd-grid-video-renderer[5]/div[@id="dismissible"]/div[@id="details"]/div/h3
FUZZ //div[@id="primary"]/ytd-section-list-renderer/div[@id="contents"]
