# Fuzzing Config

TARGET /professionals/api/v2/search/?profileType=1

LOAD https://www.zillow.com/professionals/general-inspections--home-inspector-reviews/twentynine-palms-ca/
WAIT_LOCATE //*[@id="__next"]/div/main/div/div/div[1]/div[3]/div/div/p[1]
CLICK //form[@role="search"]/div/div[2]/div/select
SLEEP 1
CLICK //form[@role="search"]/div/div[2]/div/select/option[1]
WAIT_LOCATE //*[@id="__next"]/div/main/div/div/div[1]/section/table/tbody/tr[1]/td[1]/div/div[2]/div[1]
FUZZ //*[@id="__next"]/div/main/div/div/div[1]/section
