# Fuzzing Config

TARGET /learn/v1/catalog_content/public?

LOAD https://learning.zoom.us/learn/external-ecommerce;view=none?ctldoc-catalog-0=se-recording
WAIT_LOCATE //*[@id="doc-widget-doc-catalog-0"]/doc-widget-course-catalog/ui-data-browser/div/div[2]/ui-data-browser-content/div/ui-cards-grid/div/div[2]/ui-card-catalog-content/ui-card/div/ui-card-content/div[1]/div/a
FUZZ //*[@id="doc-widget-doc-catalog-0"]/doc-widget-course-catalog/ui-data-browser/div/div[2]/ui-data-browser-content
